kemi/bin/*
vkomsiyski/bin/*
*~ # Temporary files
*.class # Compiled Java
.DS_Store
/PhilippDarkow/.metadata/*
/PhilippDarkow/.metadata/.plugin
/prototype/*
~/Development/Workspace/sea-of-ql/yosuf/bin/*
yosuf/bin/*
