input[type=text] {
    border:1px solid #ccc;
    padding:2px;
}

.invalid,
.invalid > input[type=text]{
    color: #f00;
}

.invalid > input[type=text]{
    border-color: #f00;
    background-color: #fdd;
}

.error, .success {
    border-width: 1px;
    border-style: solid;
}

.error {
    margin: 1em 0;
    padding: 1em;
    border-color: #f00;
    background-color: #fdd;
    color: #f00;
}

.success {
    padding: 0 1em;
    border-color: #0a0;
    background-color: #afa;
    color: #050;
}