.root {
	-fx-background-color: red;
}
#stageX, #stageY {
	-fx-padding: 3;
	-fx-border-color: blue;
}

.question {
	-fx-spacing: 10;
	-fx-border-color: lightgray;
	-fx-stroke: 1;
	-fx-hgap: 20;
	-fx-padding: 5 10 5 20;
	-fx-background-color: linear-gradient(to bottom, white, darkgray);
}

.input {
	-fx-graphic-text-gap: 50;
}