<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/QLJava/src/org/uva/sea/ql/interpreter/TestRendering.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.uva.sea.ql.interpreter.TestRendering"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Theodora\Documents\GitHub\sea-of-ql\thboudale\QLJava\QLDemoFile.ql C:\Users\Theodora\Documents\form.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="QLJava"/>
</launchConfiguration>
